// header
@media (max-width: 768px) {
    .header {
        padding: 10px 0px;

        &-logo {
            font-size: 20px;
        }

        #header-input {
            width: 300px;
            height: 40px;
            font-size: 18px;
        }

        .search-icon {
            font-size: 16px;
            top: 21px;
        }

        &-cart {

            width: 80px;
        }

        &-cart .fa-solid {
            font-size: 23px;
        }
    }
}

@media (max-width: 768px) {
   .header-modal {
    padding: 30px 100px;
   }
}

@media (max-width: 425px) {

    .header {
        padding: 0px 5px;

        &-logo {
            font-size: 12px;
        }

        #header-input {
            font-size: 14px;
            width: 140px;
            height: 25px;
            padding-left: 40px
        }

        .header-logo {
            padding-right: 10px;
           }

        .search-icon {
            font-size: 12px;
            top: 13px;
        }

        &-cart {
            width: 65px;
        }

        &-cart .fa-solid {
            font-size: 18px;
        }
    }

    .header-modal {
        width: 100%;
        margin: 0 auto;
    }

    .header-modal_title,
    .header-modal_btn {
        font-size: 16px;
    }

    .header-modal_summary {
        font-size: 14px;
    }
}

@media (max-width:375px) {
    #container{
        padding: 0 10px;
    }
    .header .search-icon {
        top: 13px;
        left: 23px;
    }

}

@media (max-width: 320px) {
    .header {
        &-logo {
            font-size: 12px;
            padding: 0px;
        }

        #header-input {
            width: 160px;
            height: 25px;
            font-size: 11px;
            padding-left: 23px;
        }

        & .search-icon {
            font-size: 11px;
            top: 12px;
            left: 8px;
        }

        &-cart {
            width: 45px;
            height: 40px;
        }

        & .fa-solid {
            font-size: 16px;
        }
    }
}
// header end

//slider start 


//slider end



//products start




//products end