.section-products {
  padding: 25px 0 0 0;

  &__title {
    margin-left: 50px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
  }

  &__card {
    width: 230px;
    margin-bottom: 30px;
    cursor: pointer;
    // margin-left: 30px;

    // &:first-child {
    //   //   margin-left: 0;
    // }

    &-img {
      width: 100%;
      height: 296px;
      overflow: hidden;
      position: relative;
      z-index: 1;
      border-radius: 7px;
      img {
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
      }
    }

    &-sale {
      position: absolute;
      top: 270px;
      left: 15px;
      z-index: 3;
      background-color: $btn-normal;
      border-radius: 5px;
      padding: 1px 2px;
      p {
        color: $white;
        font-size: 15px;
      }
    }

    &-button {
      position: absolute;
      top: 240px;
      left: 165px;
      z-index: 3;
      display: block;
      background-color: $btn-normal;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      i {
        font-size: 18px;
        color: $white;
      }

      &:hover {
        background-color: $btn-hover;
      }
    }

    &-price {
      display: flex;
      align-items: center;
      margin-top: 13px;

      &__present {
        margin: 0 5px;
        p {
          font-size: 18px;
          font-weight: bold;

          &:hover {
            color: $btn-hover;
          }
        }
      }

      &__past {
        margin-left: 5px;
        p {
          font-size: 15px;
          color: $light-gray;
          text-decoration: line-through;
        }
      }
    }

    &-title {
      margin-top: 13px;
      margin-left: 5px;
      p {
        font-size: 15px;
      }
    }
  }
}
.section-products__card.hide{
  display: none;

.products-modal {

    display: none;
    z-index: 7;
    background-color: #fff;
    border-radius: 10px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 70%;
    padding: 30px;
    // display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  

  &_img {
    width: 290px;
    height: 340px;
    overflow: hidden;
  }

  &_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &_title {
    width: 290px;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }

}